@page {
	margin-bottom: 5pt;
	margin-top: 5pt
}
img {
	max-width:100%;
	max-height:100%;
}
div.imagen.conpie {
    border: 1px solid black;
    padding: 5px 5px 0;
    display: inline-block;
}
div.imagen.conpie p {
    font-size: 75%;
    margin-top: 4px;
    margin-bottom: 6px;
    text-align: center;
    display: table-caption;
}
figure {
    border: 1px solid black;
    padding: 5px 5px 0;
    display: inline-block;
    margin: 0px;
}
figure figcaption {
    font-size: 75%;
    margin-top: 4px;
    margin-bottom: 6px;
    text-align: center;
}
